.page {
	margin-right: auto;
	margin-left: auto;
	padding: 50px;
	background-color: white;
}

#title {
	background-color: #b3bcac;
	padding: 20px;
	min-height: 70px;
}

#title #headshot {
	float:left;
	height: 70px;
	border-radius: 40px;
}

#title h1 {
	text-align: right;
	line-height: 50px;
}

h3.category {
	background-color: #acbcb8;
	padding: 20px;
	margin: 0;
	border-radius: 5px 5px 0 0;
}
p {
	font-size: 20pt;
	padding:10px;
	line-height: 100%;
}

a, a:hover {
	color: #bcb2ac;
}

.content {
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 20px;
}

@media (max-width: 715px) {
	#title h1 {
		font-size: 28px;
		text-align: center;
	}
	#title #headshot {
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.page {
		padding: 20px;
	}
}