.page {
	margin-right: auto;
	margin-left: auto;
	padding: 50px;
}
body {
	background-color: #042e19;
	color: white;
	text-transform: uppercase;
}

.hero-unit {
	background-color: #042e19;
}
h3.category {
	background-color: #086135;
	padding: 20px;
}
p {
	font-size: 20pt;
	padding:10px;
	line-height: 100%;
}

a, a:hover {
	color: #10c76d;
}